*,
*::after,
*::before {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

button{
	font-family: inherit;
}

.page {
	height: 100%;
}

.page__body {
	height: 100%;
	margin: 0;

	font-family: "GT Eesti Pro Display", sans-serif;
}

.btn-transparent{
	color: #446DF6;
	font-family: inherit;
	font-size: 16px;
	line-height: 140%;
	padding: 14px 25px;
	border-radius: 6px;
	border: 1px solid #e9ecf5;
	background-color: transparent;	
	cursor: pointer;
}

.btn-blue{
	color: #eee;
	font-family: inherit;
	font-size: 18px;
	font-weight: 500;
	line-height: 140%;
	padding: 18px 51px 17px;
	border-radius: 6px;
	border: 1px solid #446DF6;
	background-color: #446DF6;
	cursor: pointer;
}

.section-title{
	color: #141b41;
	font-size: 40px;
	font-weight: 400;
	line-height: 125%;
}

.section-title--small{
	font-size: 32px;
}

.section-title--light{
	color: #f7f8fd;
}

/* ? HEADER */
.main-menu__link{
	color: #72727E;
	font-size: 18px;
	line-height: 140%;
}

/* ? HERO */
.hero__text{
	color: #72727e;
	font-size: 18px;
	line-height: 140%;
}

/* ? STEPS */
.steps__title{
	color: #141b41;
	font-size: 24px;
	line-height: 135%;
}

.steps__desc{
	color: #72727e;
	font-size: 18px;
	line-height: 135%;
}

/* ? EXCELLENTS */
.excellents{
	text-align: center;
}

.excellents__subtitle{
	color: #72727e;
	text-align: center;
	font-size: 18px;
	line-height: 140%;
}

/* ? APPS */
.apps__subtitle{
	color: #e9ecf5;
	font-size: 18px;
	line-height: 140%;	
}

/* ? REVIEW */
.reviews__text{
	color: #72727e;
	font-size: 18px;
	line-height: 140%;	
}

.reviews__author-name{
	color: #141b41;
	font-size: 24px;
	line-height: 140%;
}

.reviews__author-position{
	color: #72727e;
	font-size: 18px;
	line-height: 140%;	
}

/* ? FOOTER */
.footer-menu__link{
	color: #e9ecf5;
	font-size: 18px;
	line-height: 140%;
}